html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
  line-height: 1.5; }

.container {
  width: 85rem;
  padding: 0;
  margin: 40px auto; }

a:link {
  color: black;
  text-decoration: none; }

a:visited {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:active {
  color: black; }

.header {
  background-color: #eee;
  padding: 1rem 0;
  margin-bottom: 20px; }
  .header ul {
    padding: 0px;
    margin: 0px;
    background-color: #EDEDED;
    list-style: none; }
  .header ul li {
    display: inline; }
  .header__brand {
    font-size: 14px;
    padding: 2px 10px;
    display: inline-block; }

.login__btn {
  margin-left: 15px;
  padding: 0;
  border: none;
  color: #fff;
  font-size: 16px;
  background: #fc6963;
  height: 56px;
  border: 0;
  border-radius: 5px;
  width: 50%; }
  .login__btn:hover, .login__btn:focus {
    border: none;
    outline: 0; }

.form-error {
  margin-bottom: 20px;
  color: red;
  background-color: #ffecec;
  padding: 10px 20px; }

input,
textarea {
  font: inherit; }

.field {
  margin-bottom: 20px; }

.field-text label {
  cursor: pointer; }

.field-text label,
.field-text input,
.field-text textarea {
  width: 100%; }

.field-text input {
  padding: 0.375rem 0.3125rem 0.3125rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem; }

.field-text input:focus,
.field-text textarea:focus {
  box-shadow: 0 0 0.5rem rgba(93, 162, 248, 0.5);
  border-color: #5da2f8;
  outline: 0; }

textarea {
  height: 50rem;
  resize: vertical; }

.error-page h1 {
  color: red; }

.error-page a {
  text-decoration: underline; }
